/* .About-Us{
    display: flex;
    justify-content: center;
} */
*{
    padding: 0;
    margin: 0;
}
.Background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Aboutusimage{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 300px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 18px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 60px;
    text-align: justify;
    position: relative;
}
.cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: unset;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cardbo{
    margin: 10px 20px;
    border-radius: 40px !important;
    overflow: hidden;
    position: relative;
}
img {
    transition: .5s ease all;
}
.cardbo:hover img {
    transform: scale(1.1);
}
.Background-Name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 !important;
}
.Underline{
    position: absolute;
    width: 20% !important;
    height: 1px;
    left: 40%;
    border-bottom: 4px solid #ED1B2F;
}
.Background-headings{
    margin: 0 0 20px 0;
}
.top-head{
    padding: 10px 0 20px 0 !important;
}
.Background-Img{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .Background-Name::after{
    content: "";
    position: relative;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #810000;
} */
.Vision-Mission{
    padding: 40px 0 0 0 !important;
}
@media screen and (max-width: 700px){
    .Vision-Mission .description{
        padding: 20px !important;
    }
}