* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-family: "Bitter", serif;
    text-transform: capitalize;
    font-size: 32px;
    letter-spacing: 5;
    word-spacing: 5px;
    margin-bottom: 50px;
    color: #2c3148;
  }
  
  .main-heading {
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.1em;
    border-top: 1px solid #eef1f2;
    position: relative;
    color: #5e6f7d;
    line-height: 1.6;
  }
  
  .main-heading h3 {
    margin-left: 30px;
    cursor: pointer;
    padding: 20px;
    margin-block-end: 0;
    color: #303243;
    font-family: "Raleway", sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
  }
  .main-heading p {
    cursor: pointer;
    margin-bottom: 0;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 0 0;
  }
  .answers {
    padding: 20px 25px 20px 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    word-spacing: 2px;
    font-weight: 400;
    line-height: 1.75;
    background: #EEF1F2;
    line-height: 1.75;
    color: #373d45;
    text-align: justify;
  }
  .Faqs{
    width: 50%;
    margin: auto;
  }
  @media screen and (max-width: 1300px){
    .Faqs{
        width: 100%;
    }
  }